<h1> New Camper </h1>

    <%= form_for @camper do |f| %>
         <%= f.label :name, "Camper Name" %>
         <%= f.text_field :name %>
         <%= f.label :age, "Camper Age" %>
         <%= f.number_field :age %>
         <%= f.submit "Create Camper" %>
    <%end%>

    